.mod-header-0001 {
  padding: 12px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  .mod-header-0001__inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
    box-sizing: border-box;
    @media #{$g__is-lg} {
      width: 100%;
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .mod-header-0001__logo-area {
    float: left;
  }
  .mod-header-0001__logo {
    color: #222222;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 4px;
    &:hover {
      opacity: 0.7;
    }
  }
  .mod-header-0001__button-group {
    float: right;
    display: flex;
  }
  .mod-header-0001__login-button-wrapper {
  }
  .mod-header-0001__sign-up-button-wrapper {
    margin-left: 16px;
  }
}
